.featured-products {
  background-color: var(--white-color);
}
.featured-products .grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  /* grid-gap: 10px; */
}
.featured-products .container {
  width: 90%;
  margin: auto;
  max-height: 100%;
}
.featured-products-title {
  text-align: center;
  padding-top: 4rem;
  padding-bottom: 3rem;
}

.featured-products-title p {
  color: var(--green-color);
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1.5px;
}
.featured-products-title h3 {
  font-family: var(--secondary-font-family);
  font-weight: 700;
  font-size: 2rem;
}
.featured-products-title .grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  /* grid-gap: 10px; */
}
.our-featured-products .grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}
.our-featured-products .product {
  border: 1.5px solid #f4f4f4;
  /* margin-bottom: 1%; */
  transition: 0.3s;
  cursor: pointer;
  margin: 0 5% 2%;
}
.our-featured-products .product:hover {
  border: 1.5px solid #f1592a;
  transition: 0.3s;
  box-shadow: 0 0 4px #bfbfbf;
}
.our-featured-products .product:hover h4 {
  color: #fff;
  background: #f1592a;
  transition: 0.3s;
}
.our-featured-products .product img {
  margin: 0 auto;
  display: table;
  max-width: 180px;
  padding: 20px 0;
}
.our-featured-products .product h4 {
  text-align: left;
  font-weight: 600;
  color: #525252;
  font-family: var(--primary-font-family);
  background: #f4f4f4;
  padding: 20px 20px;
  margin: 0;
  font-size: 16px;
  line-height: 20px;
}
.our-featured-products .product h4 .product-eye {
  text-align: right;
  float: right;
  font-size: 20px;
  line-height: 22px;
  cursor: pointer;
}
.pop-up-header button {
  border-radius: 50%;
  border: none;
  outline: none;
  margin: 10px;
  width: 35px;
  height: 35px;
  border: 0px;
  background: #333;
  line-height: 2;
  font-size: 22px;
  color: #fff;
  cursor: pointer;
}
.pop-up-container {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  padding-top: 15%;
}
.pop-up-body {
  background-color: #fff;
  margin: auto;
  border-radius: 4px;
  outline: none;
  background: #fff;
  padding: 0px 0px 30px 30px;
  border: 2px solid #f1592a;
  width: 800px;
}
.pop-up-header {
  width: 100%;
  text-align: right;
}
.pop-up-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}
.pop-up-details {
  margin: auto;
}
.pop-up-details h2 {
  text-align: left;
  font-weight: 600;
  color: #525252;
  font-family: var(--primary-font-family);
  padding: 10px 0;
  margin: 0;
  font-size: 16px;
  line-height: 20px;
}
.pop-up-details h3 {
  color: #3d854f;
  font-size: 20px;
  line-height: 26px;
  padding: 0 0 10px;
}
.pop-up-details p {
  color: #525252;
  font-size: 15px;
  text-align: justify;
  font-weight: 400;
  border-top: 1px solid #e2e2e2;
  padding-top: 10px;
}
.pop-up-img{
  margin: auto;
}
@media (min-width: 800px) and (max-width: 1130px) {
  .our-featured-products .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
}
@media (max-width: 799px) {
  .our-featured-products .grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
  }
}
@media (max-width: 848px){
  .pop-up-container{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .pop-up-card{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
    padding-right: 30px;
  }
  .pop-up-img img{
    max-width: 150px;
  }
  .pop-up-body{
    max-width: 310px;
  }
}