.services-we-offer {
  background-color: var(--primary-color);
  padding-bottom: 50px;
}
.services-we-offer .container {
  width: 90%;
  margin: auto;
  max-height: 100%;
}
.services-we-offer .container .servecis-title {
  text-align: center;
  padding-top: 3rem;
}
.services-we-offer .container .servecis-title p {
  color: var(--green-color);
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1.5px;
}
.services-we-offer .container .servecis-title h3 {
  font-family: var(--secondary-font-family);
  font-weight: 700;
  font-size: 2rem;
}
.our-features .who-us {
  padding-top: 2rem;
  text-align: center;
  margin-bottom: 3rem;
}
.our-features .who-us p {
  font-weight: 500;
  line-height: 1.5;
}
.our-features .who-us p span {
  color: #f1592a;
  font-size: 23px;
  font-weight: 700;
  letter-spacing: 2px;
  text-align: center;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.services-we-offer .grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
.services-we-offer .container .our-features .grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}
.feature .feature-details {
  background-color: var(--white-color);
  max-width: 275px;
  margin: 0px auto;
  border-radius: 0.3rem;
  overflow: hidden;
  box-shadow: rgb(53 78 84 / 6%) 0px 11px 59px 0px;
}
.feature-details .feature-header {
  padding: 1.5rem 2rem 2rem;
  max-height: 250px;
}
.feature-details .feature-header h3 {
  font-family: var(--secondary-font-family);
  font-size: 2rem;
  color: var(--green-color);
  margin-bottom: 1rem;
}
.feature-details .feature-header p {
  color: var(--grey-color);
  font-size: 0.875rem;
  padding-right: 1.5rem;
  line-height: 27px;
  text-transform: capitalize;
}
.feature-image {
  height: 160px;
}
.feature-details img {
  width: 100%;
  height: 100%;
}
@media (min-width: 700px) and (max-width: 1130px) {
  .services-we-offer .container .our-features .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
  .feature .feature-details{
    max-width: 360px;
  }
}
@media (max-width: 699px){
  .services-we-offer .container .our-features .grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
  }
  .feature .feature-details{
    max-width: 300px;
  }
}