.we-are{
    position: relative;
    width: 100%;
    height: 60vh;
}
.text-box{
    background-color: #37AB9C;
    position: absolute;
    bottom: 8%;
    width: 100%;
}
.text-box p{
    font-size: 50px;
    font-weight: 600;
}
.text-box h2{
    font-size: 190px;
    line-height: 160px;
    margin-left: -10px;
    color: transparent;
    -webkit-text-stroke: 2px #f1592a;
    background: url(../../Assets/images/back.png);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;
    -webkit-animation: back 20s linear infinite;
}
@keyframes back {
    100%{
        background-position: 2000px 0;
    }
}
.text-box h3{
    font-size: 40px;
    font-weight: 500;
    text-transform: uppercase;
}