.about-us-header {
  text-align: center;
  background: url("../../Assets/images/about-us-header.jpg") center/cover
    no-repeat;
  margin-top: 100px;
  height: 70vh;
  /* padding-top: 100px; */
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
}
.about-us-header .about-us-overlay {
  height: 100%;
  background: rgba(2, 2, 2, 0.4);
  padding-top: 100px;
}
.about-us-header h3 {
  font-family: var(--primary-font-family);
  color: var(--green-color);
  font-weight: 700;
  font-size: 3.5rem;
}
.about-us-header img {
  width: 100px;
  height: 30px;
}
@media (max-width: 1130px) {
  .about-us-header {
    background-size: cover;
    height: auto;
  }
}
