.slick-slide {
  outline: none;
}
.section-bg {
  margin-top: 50px;
  padding-bottom: 50px;
}
.certification-title {
  text-align: center;
  padding-top: 4rem;
  padding-bottom: 3rem;
}

.certification-title p {
  color: var(--green-color);
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1.5px;
}
.certification-title h3 {
  font-family: var(--secondary-font-family);
  font-weight: 700;
  font-size: 2rem;
}
.section-bg .container {
  width: 90%;
  margin: auto;
  /* max-height: 100%; */
}
.section-bg .grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}
.section-bg .container .span-col-2 {
  grid-column: span 2 / auto;
}
.slick-slide:focus {
  outline: none;
}

.slick-img {
  display: block;
  margin: 0 auto;
}

.slider-container {
  overflow: hidden;
}

.brand {
  border-bottom: 1px solid var(--border-color2);
}
.section-bg {
  background-color: var(--primary-color);
}
